/* ============================================================== 
<!-- Custom Css -->
============================================================== */

i {
    margin-right: .5rem;
}

a.admin-logo-a {
    margin-left: 3rem;
}

span.admin-logo {
    font-size: 2rem;
    font-family: 'Alatsi', sans-serif;
}

span.admin-logo-next {
    font-size: 1.5rem;
    font-family: 'Alatsi', sans-serif;
}

a.addAndBack:hover {
    text-decoration: underline;
}

input[type="textarea"] {
    resize: vertical;
}

img.showImgTable, img.editCategoryImg {
    height: 5rem;
}

tbody tr td {
    vertical-align:middle;
}

.dFlexRowGap {
    display: flex;
    gap: 5px;
}

img.viewOrder {
    height: 5rem;
    width: auto;
}

h4.orderViewHead {
    text-decoration: underline;
}

.dashboard-category {
    width: 400px;
    height: 150px;
    border: 2px solid #ccc;
    background-image: url('/public/admin/img/category-icon-5.jpg');
}

.dashboard-flex {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.dashboard-category .category {
    background: rgb(9,9,121);
    background: linear-gradient(79deg, rgba(9,9,121,1) 0%, rgba(9,9,121,1) 31%, rgba(0,212,255,1) 100%);
}

.dashboard-category .product {
    background: rgb(177,175,19);
    background: linear-gradient(79deg, rgba(177,175,19,1) 0%, rgba(218,216,29,1) 36%, rgba(131,142,144,1) 70%);
}

.dashboard-category .customers {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.dashboard-flex h4, .dashboard-flex div {
    font-size: 1.5rem;
}

.dashboard-category .newOrders {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.dashboard-category .deliver {
    background: rgb(34,195,60);
    background: linear-gradient(0deg, rgba(34,195,60,1) 0%, rgba(253,215,45,1) 100%);
}

.dashboard-category .soldout {
    background: rgb(34,195,60);
    background: linear-gradient(19deg, rgba(34,195,60,1) 52%, rgba(253,215,45,1) 99%);
}

.dashboard-category .cancel {
    background: rgb(219,30,44);
    background: linear-gradient(19deg, rgba(219,30,44,1) 52%, rgba(253,215,45,1) 99%);
}

.dashboard-category .users {
    background: rgb(150,30,219);
    background: linear-gradient(66deg, rgba(150,30,219,1) 30%, rgba(253,215,45,1) 99%);
}

.dashboard-category .admins {
    background: rgb(219,55,30);
    background: linear-gradient(66deg, rgba(219,55,30,1) 30%, rgba(253,215,45,1) 99%);
}

.active {
    color: #fff;
    background-color: rgba(0,0,0,0.1);
    border-right: 3px solid #137EFF;
}

.slide_img {
    width: 300px;
    height: 150px;
}